[Desktop Entry]
Name=Heisenbug netbook
Comment=Heisenbug Plasma theme for netbooks

X-KDE-PluginInfo-Author=Fedora KDE-SIG
X-KDE-PluginInfo-Email=kde@lists.fedoraproject.org
X-KDE-PluginInfo-Name=Heisenbug-netbook
X-KDE-PluginInfo-Version=19.90.2
X-KDE-PluginInfo-Website=http://fedoraproject.org/SIGs/KDE
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC-BY-SA
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
FallbackTheme=air-netbook

[Wallpaper]
defaultWallpaperTheme=Heisenbug
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1200

[Branding]
homepage=http://fedoraproject.org
