[KSplash Theme: Korora]
Name = Korora Splash Screen
Description = Korora Splash Theme
Version = 19.90.0
Author = Fedora KDE SIG <fedora-kde@fedoraproject.org>
Homepage = http://www.kororaproject.org/

# Theme behaviour settings.
Engine = KSplashX
