[KSplash Theme: Korora]
Name = Korora 21 Darla Splash Screen
Description = Splash Theme for Korora.
Version = 21.0
Author = Fedora KDE SIG <fedora-kde@fedoraproject.org>
Homepage = http://kororaproject.org/

# Theme behaviour settings.
Engine = KSplashX
