[KdmGreeterTheme]
Greeter=schroedinger-cat.xml
Name=Schrödinger's Cat
Author=Fedora KDE SIG
Copyright=(C) 2013 Fedora KDE SIG
Screenshot=screenshot.png
